// Place all the styles related to the paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basewidth: 600px;
$maincolor: #86a;
$mainfont: Helvetica;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	
	background-image: url(starrynight.jpg);
	background-repeat: no-repeat;
	backgound-size: cover;


	.main {
		background-color: lighten($maincolor, 40%);
		width: $basewidth / 960px * 100%;
		font-family: $mainfont;
		margin: 0 auto;
		@include border-radius(15px);
		border: 10px solid black;

		.col-md-3 {
			padding-top: 40px;
			padding-bottom: 30px;
		}

		.painting {
			background-color: darken($maincolor, 50%);
			color: lighten($maincolor, 20%);
			&:first-child {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}	
		}

		.details {

			background-color: $maincolor;
		
			&:last-child {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

		}

	}
}

